services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: sajilogaadi_db
    restart: always
    environment:
      POSTGRES_DB: SG
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: sajilogaadi_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: .
    container_name: sajilogaadi_backend
    restart: always
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      redis: 
        condition: service_started
      postgres:
        condition: service_healthy
    command: npm run dev

volumes:
  pgdata:
