--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_audits (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    admin_id uuid NOT NULL,
    action character varying(100) NOT NULL,
    entity_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.admin_audits OWNER TO postgres;

--
-- Name: auth_credentials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_credentials (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    email character varying(255),
    phone character varying(20),
    password_hash text,
    is_email_verified boolean DEFAULT false,
    is_phone_verified boolean DEFAULT false,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.auth_credentials OWNER TO postgres;

--
-- Name: driver_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.driver_locations (
    driver_id uuid NOT NULL,
    location public.geography(Point,4326) NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.driver_locations OWNER TO postgres;

--
-- Name: driver_restrictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.driver_restrictions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    driver_id uuid NOT NULL,
    restriction_type character varying(50) NOT NULL,
    visibility_multiplier numeric(3,2) DEFAULT 1.0,
    is_active boolean DEFAULT true,
    reason text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.driver_restrictions OWNER TO postgres;

--
-- Name: driver_safety_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.driver_safety_stats (
    driver_id uuid NOT NULL,
    current_points integer DEFAULT 1000,
    average_rating numeric(3,2) DEFAULT 0,
    completed_rides integer DEFAULT 0,
    total_safety_concerns integer DEFAULT 0,
    verified_safe_badge boolean DEFAULT false,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.driver_safety_stats OWNER TO postgres;

--
-- Name: driver_visibility; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.driver_visibility (
    driver_id uuid NOT NULL,
    visibility_multiplier numeric(3,2) DEFAULT 1.00,
    max_request_radius_km numeric(6,2) DEFAULT 5.00,
    max_concurrent_requests integer DEFAULT 10,
    is_restricted boolean DEFAULT false,
    restriction_reason text,
    restricted_until timestamp with time zone,
    auto_calculated boolean DEFAULT true,
    manual_override boolean DEFAULT false,
    override_set_by uuid,
    override_reason text,
    performance_tier character varying(20) DEFAULT 'standard'::character varying,
    last_calculated_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT valid_multiplier CHECK (((visibility_multiplier >= 0.0) AND (visibility_multiplier <= 2.0))),
    CONSTRAINT valid_radius CHECK (((max_request_radius_km >= 1.0) AND (max_request_radius_km <= 50.0))),
    CONSTRAINT valid_tier CHECK (((performance_tier)::text = ANY ((ARRAY['probation'::character varying, 'standard'::character varying, 'silver'::character varying, 'gold'::character varying, 'platinum'::character varying])::text[])))
);


ALTER TABLE public.driver_visibility OWNER TO postgres;

--
-- Name: drivers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drivers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    is_online boolean DEFAULT false,
    is_available boolean DEFAULT false,
    status character varying(20) DEFAULT 'offline'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.drivers OWNER TO postgres;

--
-- Name: kyc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kyc (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    date_of_birth date NOT NULL,
    address text NOT NULL,
    profile_url text NOT NULL,
    phone_number character varying(20) NOT NULL,
    email character varying(100) NOT NULL,
    gender character varying(20) NOT NULL,
    national_identity_number character varying(50) NOT NULL,
    blood_group character varying(5),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT kyc_blood_group_check CHECK (((blood_group)::text = ANY ((ARRAY['A+'::character varying, 'A-'::character varying, 'B+'::character varying, 'B-'::character varying, 'AB+'::character varying, 'AB-'::character varying, 'O+'::character varying, 'O-'::character varying])::text[]))),
    CONSTRAINT kyc_gender_check CHECK (((gender)::text = ANY ((ARRAY['male'::character varying, 'female'::character varying, 'others'::character varying])::text[])))
);


ALTER TABLE public.kyc OWNER TO postgres;

--
-- Name: kyc_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kyc_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    kyc_id uuid NOT NULL,
    document_type character varying(20) NOT NULL,
    document_number character varying(100) NOT NULL,
    issued_date date NOT NULL,
    expiry_date date,
    document_front_url text NOT NULL,
    document_back_url text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT kyc_documents_document_type_check CHECK (((document_type)::text = ANY ((ARRAY['citizenship'::character varying, 'passport'::character varying, 'nin'::character varying])::text[])))
);


ALTER TABLE public.kyc_documents OWNER TO postgres;

--
-- Name: pricing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pricing (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ride_id uuid NOT NULL,
    base_fare numeric(10,2) NOT NULL,
    distance_fare numeric(10,2) NOT NULL,
    time_fare numeric(10,2) NOT NULL,
    surge_multiplier numeric(4,2) DEFAULT 1.0,
    total_fare numeric(10,2) NOT NULL,
    currency character varying(10) DEFAULT 'USD'::character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.pricing OWNER TO postgres;

--
-- Name: ride_bids; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ride_bids (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ride_request_id uuid NOT NULL,
    driver_id uuid NOT NULL,
    bid_amount numeric(10,2) NOT NULL,
    currency character varying(10) DEFAULT 'USD'::character varying,
    estimated_arrival_minutes integer,
    driver_message text,
    vehicle_type character varying(50),
    vehicle_make character varying(100),
    vehicle_model character varying(100),
    vehicle_color character varying(50),
    license_plate character varying(20),
    driver_rating numeric(3,2),
    driver_completed_rides integer,
    driver_safety_points integer,
    status character varying(20) DEFAULT 'pending'::character varying,
    expires_at timestamp with time zone NOT NULL,
    accepted_at timestamp with time zone,
    rejected_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT positive_bid CHECK ((bid_amount > (0)::numeric)),
    CONSTRAINT valid_eta CHECK ((estimated_arrival_minutes > 0))
);


ALTER TABLE public.ride_bids OWNER TO postgres;

--
-- Name: ride_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ride_locations (
    ride_id uuid NOT NULL,
    pickup_location public.geography(Point,4326),
    pickup_address text,
    dropoff_location public.geography(Point,4326),
    dropoff_address text
);


ALTER TABLE public.ride_locations OWNER TO postgres;

--
-- Name: ride_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ride_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rider_id uuid NOT NULL,
    pickup_location public.geography(Point,4326) NOT NULL,
    pickup_address text NOT NULL,
    dropoff_location public.geography(Point,4326) NOT NULL,
    dropoff_address text NOT NULL,
    estimated_distance_km numeric(10,2),
    estimated_duration_minutes integer,
    estimated_fare_min numeric(10,2),
    estimated_fare_max numeric(10,2),
    passenger_count integer DEFAULT 1,
    luggage_count integer DEFAULT 0,
    vehicle_preference character varying(50),
    status character varying(30) DEFAULT 'pending'::character varying NOT NULL,
    pricing_mode character varying(20) DEFAULT 'fixed'::character varying,
    requested_pickup_time timestamp with time zone,
    expires_at timestamp with time zone,
    matched_driver_id uuid,
    matched_bid_id uuid,
    accepted_at timestamp with time zone,
    created_ride_id uuid,
    requires_wheelchair_accessible boolean DEFAULT false,
    requires_pet_friendly boolean DEFAULT false,
    requires_child_seat boolean DEFAULT false,
    special_instructions text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT ride_requests_passenger_count_check CHECK (((passenger_count >= 1) AND (passenger_count <= 8))),
    CONSTRAINT valid_pickup_time CHECK (((requested_pickup_time IS NULL) OR (requested_pickup_time > now())))
);


ALTER TABLE public.ride_requests OWNER TO postgres;

--
-- Name: ride_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ride_reviews (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ride_id uuid NOT NULL,
    reviewer_id uuid NOT NULL,
    reviewee_driver_id uuid NOT NULL,
    star_rating integer,
    positive_taps jsonb DEFAULT '[]'::jsonb,
    negative_taps jsonb DEFAULT '[]'::jsonb,
    has_safety_concern boolean DEFAULT false,
    safety_concern_details text,
    calculated_impact integer,
    is_processed boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT ride_reviews_star_rating_check CHECK (((star_rating >= 1) AND (star_rating <= 5)))
);


ALTER TABLE public.ride_reviews OWNER TO postgres;

--
-- Name: ride_stops; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ride_stops (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ride_request_id uuid NOT NULL,
    ride_id uuid,
    stop_order integer NOT NULL,
    stop_type character varying(20) NOT NULL,
    location public.geography(Point,4326) NOT NULL,
    address text NOT NULL,
    estimated_arrival_time timestamp with time zone,
    actual_arrival_time timestamp with time zone,
    actual_departure_time timestamp with time zone,
    max_wait_seconds integer DEFAULT 120,
    contact_name character varying(100),
    contact_phone character varying(20),
    notes text,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT valid_stop_type CHECK (((stop_type)::text = ANY ((ARRAY['intermediate'::character varying, 'detour'::character varying])::text[])))
);


ALTER TABLE public.ride_stops OWNER TO postgres;

--
-- Name: rides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rider_id uuid NOT NULL,
    driver_id uuid,
    vehicle_id uuid,
    status character varying(20) DEFAULT 'requested'::character varying NOT NULL,
    is_paid boolean DEFAULT false,
    fare_amount numeric(10,2),
    currency character varying(10) DEFAULT 'USD'::character varying,
    requested_at timestamp with time zone DEFAULT now(),
    accepted_at timestamp with time zone,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    forced_by_admin boolean DEFAULT false,
    deleted boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.rides OWNER TO postgres;

--
-- Name: safety_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.safety_audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    driver_id uuid NOT NULL,
    event_type character varying(50) NOT NULL,
    points_before integer,
    points_after integer,
    points_delta integer,
    triggered_by_review_id uuid,
    triggered_by_admin_id uuid,
    reason text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.safety_audit_logs OWNER TO postgres;

--
-- Name: safety_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.safety_comments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    review_id uuid NOT NULL,
    commenter_id uuid NOT NULL,
    commenter_role character varying(20) NOT NULL,
    comment_text text NOT NULL,
    safety_category character varying(50),
    severity_level character varying(20) DEFAULT 'low'::character varying,
    evidence_urls jsonb DEFAULT '[]'::jsonb,
    admin_reviewed boolean DEFAULT false,
    admin_reviewed_by uuid,
    admin_reviewed_at timestamp with time zone,
    admin_notes text,
    admin_action_taken character varying(100),
    is_resolved boolean DEFAULT false,
    resolved_at timestamp with time zone,
    resolution_notes text,
    is_public boolean DEFAULT false,
    is_flagged boolean DEFAULT false,
    requires_follow_up boolean DEFAULT false,
    follow_up_completed boolean DEFAULT false,
    follow_up_notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT comment_not_empty CHECK ((length(TRIM(BOTH FROM comment_text)) > 0)),
    CONSTRAINT valid_commenter_role CHECK (((commenter_role)::text = ANY ((ARRAY['rider'::character varying, 'driver'::character varying, 'admin'::character varying, 'system'::character varying])::text[]))),
    CONSTRAINT valid_severity CHECK (((severity_level)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying, 'critical'::character varying])::text[])))
);


ALTER TABLE public.safety_comments OWNER TO postgres;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    id integer NOT NULL,
    name text NOT NULL,
    run_on timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schema_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schema_migrations_id_seq OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schema_migrations_id_seq OWNED BY public.schema_migrations.id;


--
-- Name: tap_definitions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tap_definitions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tap_category character varying(20),
    tap_key character varying(50) NOT NULL,
    tap_label character varying(100) NOT NULL,
    point_value integer NOT NULL,
    is_active boolean DEFAULT true,
    display_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT tap_definitions_tap_category_check CHECK (((tap_category)::text = ANY ((ARRAY['positive'::character varying, 'negative'::character varying])::text[])))
);


ALTER TABLE public.tap_definitions OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    wallet_id uuid NOT NULL,
    ride_id uuid,
    transaction_type character varying(30) NOT NULL,
    amount numeric(12,2) NOT NULL,
    balance_after numeric(12,2) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    user_id uuid NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    profile_photo_url text,
    date_of_birth date,
    gender character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: user_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_verifications (
    user_id uuid NOT NULL,
    identity_verified boolean DEFAULT false,
    identity_verified_at timestamp with time zone,
    background_check_status character varying(20),
    background_check_at timestamp with time zone,
    documents jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_verifications OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    role character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    is_verified boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['rider'::character varying, 'driver'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    driver_id uuid NOT NULL,
    vehicle_type character varying(50) NOT NULL,
    make character varying(100) NOT NULL,
    model character varying(100) NOT NULL,
    year integer NOT NULL,
    color character varying(50),
    license_plate character varying(20) NOT NULL,
    seat_capacity integer DEFAULT 4,
    has_ac boolean DEFAULT true,
    is_active boolean DEFAULT true,
    is_verified boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.vehicles OWNER TO postgres;

--
-- Name: wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    balance numeric(12,2) DEFAULT 0.00,
    currency character varying(10) DEFAULT 'USD'::character varying,
    updated_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.wallets OWNER TO postgres;

--
-- Name: schema_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations ALTER COLUMN id SET DEFAULT nextval('public.schema_migrations_id_seq'::regclass);


--
-- Name: admin_audits admin_audits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audits
    ADD CONSTRAINT admin_audits_pkey PRIMARY KEY (id);


--
-- Name: auth_credentials auth_credentials_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_credentials
    ADD CONSTRAINT auth_credentials_email_key UNIQUE (email);


--
-- Name: auth_credentials auth_credentials_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_credentials
    ADD CONSTRAINT auth_credentials_phone_key UNIQUE (phone);


--
-- Name: auth_credentials auth_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_credentials
    ADD CONSTRAINT auth_credentials_pkey PRIMARY KEY (id);


--
-- Name: auth_credentials auth_credentials_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_credentials
    ADD CONSTRAINT auth_credentials_user_id_key UNIQUE (user_id);


--
-- Name: driver_locations driver_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_locations
    ADD CONSTRAINT driver_locations_pkey PRIMARY KEY (driver_id);


--
-- Name: driver_restrictions driver_restrictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_restrictions
    ADD CONSTRAINT driver_restrictions_pkey PRIMARY KEY (id);


--
-- Name: driver_safety_stats driver_safety_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_safety_stats
    ADD CONSTRAINT driver_safety_stats_pkey PRIMARY KEY (driver_id);


--
-- Name: driver_visibility driver_visibility_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_visibility
    ADD CONSTRAINT driver_visibility_pkey PRIMARY KEY (driver_id);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_user_id_key UNIQUE (user_id);


--
-- Name: kyc_documents kyc_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT kyc_documents_pkey PRIMARY KEY (id);


--
-- Name: kyc kyc_national_identity_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc
    ADD CONSTRAINT kyc_national_identity_number_key UNIQUE (national_identity_number);


--
-- Name: kyc kyc_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc
    ADD CONSTRAINT kyc_pkey PRIMARY KEY (id);


--
-- Name: pricing pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing
    ADD CONSTRAINT pricing_pkey PRIMARY KEY (id);


--
-- Name: pricing pricing_ride_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing
    ADD CONSTRAINT pricing_ride_id_key UNIQUE (ride_id);


--
-- Name: ride_bids ride_bids_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_bids
    ADD CONSTRAINT ride_bids_pkey PRIMARY KEY (id);


--
-- Name: ride_locations ride_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_locations
    ADD CONSTRAINT ride_locations_pkey PRIMARY KEY (ride_id);


--
-- Name: ride_requests ride_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_requests
    ADD CONSTRAINT ride_requests_pkey PRIMARY KEY (id);


--
-- Name: ride_reviews ride_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_reviews
    ADD CONSTRAINT ride_reviews_pkey PRIMARY KEY (id);


--
-- Name: ride_reviews ride_reviews_ride_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_reviews
    ADD CONSTRAINT ride_reviews_ride_id_key UNIQUE (ride_id);


--
-- Name: ride_stops ride_stops_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_stops
    ADD CONSTRAINT ride_stops_pkey PRIMARY KEY (id);


--
-- Name: rides rides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_pkey PRIMARY KEY (id);


--
-- Name: safety_audit_logs safety_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_audit_logs
    ADD CONSTRAINT safety_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: safety_comments safety_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_comments
    ADD CONSTRAINT safety_comments_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_name_key UNIQUE (name);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: tap_definitions tap_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_definitions
    ADD CONSTRAINT tap_definitions_pkey PRIMARY KEY (id);


--
-- Name: tap_definitions tap_definitions_tap_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tap_definitions
    ADD CONSTRAINT tap_definitions_tap_key_key UNIQUE (tap_key);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: kyc_documents unique_document_number; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT unique_document_number UNIQUE (document_number);


--
-- Name: ride_bids unique_driver_bid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_bids
    ADD CONSTRAINT unique_driver_bid UNIQUE (ride_request_id, driver_id);


--
-- Name: ride_stops unique_stop_order; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_stops
    ADD CONSTRAINT unique_stop_order UNIQUE (ride_request_id, stop_order);


--
-- Name: kyc unique_user_kyc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc
    ADD CONSTRAINT unique_user_kyc UNIQUE (user_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: user_verifications user_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_verifications
    ADD CONSTRAINT user_verifications_pkey PRIMARY KEY (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_license_plate_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_license_plate_key UNIQUE (license_plate);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_user_id_key UNIQUE (user_id);


--
-- Name: idx_audit_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_created_at ON public.safety_audit_logs USING btree (created_at);


--
-- Name: idx_audit_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_driver ON public.safety_audit_logs USING btree (driver_id);


--
-- Name: idx_auth_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_auth_email ON public.auth_credentials USING btree (email) WHERE (email IS NOT NULL);


--
-- Name: idx_auth_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_auth_phone ON public.auth_credentials USING btree (phone) WHERE (phone IS NOT NULL);


--
-- Name: idx_auth_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_auth_user ON public.auth_credentials USING btree (user_id);


--
-- Name: idx_driver_location_geo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_location_geo ON public.driver_locations USING gist (location);


--
-- Name: idx_driver_location_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_location_gist ON public.driver_locations USING gist (location);


--
-- Name: idx_driver_restrictions_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_restrictions_active ON public.driver_restrictions USING btree (driver_id) WHERE (is_active = true);


--
-- Name: idx_driver_safety_points; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_safety_points ON public.driver_safety_stats USING btree (current_points);


--
-- Name: idx_driver_verified_safe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_verified_safe ON public.driver_safety_stats USING btree (verified_safe_badge) WHERE (verified_safe_badge = true);


--
-- Name: idx_driver_visibility_auto_calc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_visibility_auto_calc ON public.driver_visibility USING btree (last_calculated_at) WHERE (auto_calculated = true);


--
-- Name: idx_driver_visibility_multiplier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_visibility_multiplier ON public.driver_visibility USING btree (visibility_multiplier DESC) WHERE (is_restricted = false);


--
-- Name: idx_driver_visibility_restricted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_visibility_restricted ON public.driver_visibility USING btree (is_restricted, restricted_until) WHERE (is_restricted = true);


--
-- Name: idx_driver_visibility_tier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_driver_visibility_tier ON public.driver_visibility USING btree (performance_tier);


--
-- Name: idx_drivers_online; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_online ON public.drivers USING btree (is_online) WHERE (is_online = true);


--
-- Name: idx_drivers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_status ON public.drivers USING btree (status);


--
-- Name: idx_drivers_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_drivers_user ON public.drivers USING btree (user_id);


--
-- Name: idx_kyc_document_kyc_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_document_kyc_id ON public.kyc_documents USING btree (kyc_id);


--
-- Name: idx_kyc_nin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_nin ON public.kyc USING btree (national_identity_number);


--
-- Name: idx_kyc_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kyc_user_id ON public.kyc USING btree (user_id);


--
-- Name: idx_pricing_ride; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_pricing_ride ON public.pricing USING btree (ride_id);


--
-- Name: idx_reviews_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_driver ON public.ride_reviews USING btree (reviewee_driver_id);


--
-- Name: idx_reviews_safety_concern; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_safety_concern ON public.ride_reviews USING btree (has_safety_concern) WHERE (has_safety_concern = true);


--
-- Name: idx_ride_bids_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_bids_driver ON public.ride_bids USING btree (driver_id, created_at DESC);


--
-- Name: idx_ride_bids_pending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_bids_pending ON public.ride_bids USING btree (status, expires_at) WHERE ((status)::text = 'pending'::text);


--
-- Name: idx_ride_bids_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_bids_request ON public.ride_bids USING btree (ride_request_id, bid_amount, created_at DESC);


--
-- Name: idx_ride_bids_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_bids_status ON public.ride_bids USING btree (status, created_at DESC);


--
-- Name: idx_ride_dropoff_geo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_dropoff_geo ON public.ride_locations USING gist (dropoff_location);


--
-- Name: idx_ride_pickup_geo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_pickup_geo ON public.ride_locations USING gist (pickup_location);


--
-- Name: idx_ride_requests_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_active ON public.ride_requests USING btree (status, created_at) WHERE ((status)::text = ANY ((ARRAY['pending'::character varying, 'broadcasting'::character varying])::text[]));


--
-- Name: idx_ride_requests_dropoff_geo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_dropoff_geo ON public.ride_requests USING gist (dropoff_location);


--
-- Name: idx_ride_requests_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_expires ON public.ride_requests USING btree (expires_at) WHERE ((status)::text = ANY ((ARRAY['pending'::character varying, 'broadcasting'::character varying])::text[]));


--
-- Name: idx_ride_requests_pickup_geo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_pickup_geo ON public.ride_requests USING gist (pickup_location);


--
-- Name: idx_ride_requests_rider; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_rider ON public.ride_requests USING btree (rider_id, created_at DESC);


--
-- Name: idx_ride_requests_scheduled; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_scheduled ON public.ride_requests USING btree (requested_pickup_time) WHERE (requested_pickup_time IS NOT NULL);


--
-- Name: idx_ride_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_requests_status ON public.ride_requests USING btree (status);


--
-- Name: idx_ride_stops_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_stops_location ON public.ride_stops USING gist (location);


--
-- Name: idx_ride_stops_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_stops_request ON public.ride_stops USING btree (ride_request_id, stop_order);


--
-- Name: idx_ride_stops_ride; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_stops_ride ON public.ride_stops USING btree (ride_id, stop_order);


--
-- Name: idx_ride_stops_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ride_stops_status ON public.ride_stops USING btree (status, stop_order);


--
-- Name: idx_rides_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_active ON public.rides USING btree (id) WHERE (deleted = false);


--
-- Name: idx_rides_completed_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_completed_at ON public.rides USING btree (completed_at) WHERE (completed_at IS NOT NULL);


--
-- Name: idx_rides_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_driver ON public.rides USING btree (driver_id);


--
-- Name: idx_rides_rider; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_rider ON public.rides USING btree (rider_id);


--
-- Name: idx_rides_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_status ON public.rides USING btree (status);


--
-- Name: idx_safety_comments_admin_queue; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_admin_queue ON public.safety_comments USING btree (admin_reviewed, severity_level DESC, created_at) WHERE (admin_reviewed = false);


--
-- Name: idx_safety_comments_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_category ON public.safety_comments USING btree (safety_category, severity_level);


--
-- Name: idx_safety_comments_commenter; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_commenter ON public.safety_comments USING btree (commenter_id, created_at DESC);


--
-- Name: idx_safety_comments_flagged; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_flagged ON public.safety_comments USING btree (is_flagged, created_at) WHERE (is_flagged = true);


--
-- Name: idx_safety_comments_followup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_followup ON public.safety_comments USING btree (requires_follow_up, follow_up_completed) WHERE ((requires_follow_up = true) AND (follow_up_completed = false));


--
-- Name: idx_safety_comments_review; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_review ON public.safety_comments USING btree (review_id, created_at);


--
-- Name: idx_safety_comments_unresolved; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_safety_comments_unresolved ON public.safety_comments USING btree (is_resolved, severity_level DESC, created_at) WHERE (is_resolved = false);


--
-- Name: idx_tap_display_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tap_display_order ON public.tap_definitions USING btree (display_order);


--
-- Name: idx_tap_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_tap_key ON public.tap_definitions USING btree (tap_key);


--
-- Name: idx_transactions_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_created ON public.transactions USING btree (created_at);


--
-- Name: idx_transactions_ride; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_ride ON public.transactions USING btree (ride_id);


--
-- Name: idx_transactions_wallet; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_wallet ON public.transactions USING btree (wallet_id);


--
-- Name: idx_user_verification_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_verification_status ON public.user_verifications USING btree (identity_verified);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: idx_vehicle_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicle_driver ON public.vehicles USING btree (driver_id);


--
-- Name: idx_wallet_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_wallet_user ON public.wallets USING btree (user_id);


--
-- Name: auth_credentials auth_credentials_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_credentials
    ADD CONSTRAINT auth_credentials_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: driver_locations driver_locations_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_locations
    ADD CONSTRAINT driver_locations_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON DELETE CASCADE;


--
-- Name: driver_restrictions driver_restrictions_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_restrictions
    ADD CONSTRAINT driver_restrictions_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON DELETE CASCADE;


--
-- Name: driver_safety_stats driver_safety_stats_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_safety_stats
    ADD CONSTRAINT driver_safety_stats_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON DELETE CASCADE;


--
-- Name: driver_visibility driver_visibility_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_visibility
    ADD CONSTRAINT driver_visibility_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON DELETE CASCADE;


--
-- Name: driver_visibility driver_visibility_override_set_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_visibility
    ADD CONSTRAINT driver_visibility_override_set_by_fkey FOREIGN KEY (override_set_by) REFERENCES public.users(id);


--
-- Name: drivers drivers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: kyc_documents kyc_documents_kyc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc_documents
    ADD CONSTRAINT kyc_documents_kyc_id_fkey FOREIGN KEY (kyc_id) REFERENCES public.kyc(id) ON DELETE CASCADE;


--
-- Name: kyc kyc_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kyc
    ADD CONSTRAINT kyc_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: pricing pricing_ride_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing
    ADD CONSTRAINT pricing_ride_id_fkey FOREIGN KEY (ride_id) REFERENCES public.rides(id) ON DELETE CASCADE;


--
-- Name: ride_bids ride_bids_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_bids
    ADD CONSTRAINT ride_bids_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: ride_bids ride_bids_ride_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_bids
    ADD CONSTRAINT ride_bids_ride_request_id_fkey FOREIGN KEY (ride_request_id) REFERENCES public.ride_requests(id) ON DELETE CASCADE;


--
-- Name: ride_locations ride_locations_ride_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_locations
    ADD CONSTRAINT ride_locations_ride_id_fkey FOREIGN KEY (ride_id) REFERENCES public.rides(id) ON DELETE CASCADE;


--
-- Name: ride_requests ride_requests_created_ride_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_requests
    ADD CONSTRAINT ride_requests_created_ride_id_fkey FOREIGN KEY (created_ride_id) REFERENCES public.rides(id);


--
-- Name: ride_requests ride_requests_matched_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_requests
    ADD CONSTRAINT ride_requests_matched_driver_id_fkey FOREIGN KEY (matched_driver_id) REFERENCES public.drivers(id);


--
-- Name: ride_requests ride_requests_rider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_requests
    ADD CONSTRAINT ride_requests_rider_id_fkey FOREIGN KEY (rider_id) REFERENCES public.users(id);


--
-- Name: ride_reviews ride_reviews_reviewee_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_reviews
    ADD CONSTRAINT ride_reviews_reviewee_driver_id_fkey FOREIGN KEY (reviewee_driver_id) REFERENCES public.drivers(id);


--
-- Name: ride_reviews ride_reviews_reviewer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_reviews
    ADD CONSTRAINT ride_reviews_reviewer_id_fkey FOREIGN KEY (reviewer_id) REFERENCES public.users(id);


--
-- Name: ride_reviews ride_reviews_ride_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_reviews
    ADD CONSTRAINT ride_reviews_ride_id_fkey FOREIGN KEY (ride_id) REFERENCES public.rides(id) ON DELETE CASCADE;


--
-- Name: ride_stops ride_stops_ride_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_stops
    ADD CONSTRAINT ride_stops_ride_id_fkey FOREIGN KEY (ride_id) REFERENCES public.rides(id) ON DELETE CASCADE;


--
-- Name: ride_stops ride_stops_ride_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ride_stops
    ADD CONSTRAINT ride_stops_ride_request_id_fkey FOREIGN KEY (ride_request_id) REFERENCES public.ride_requests(id) ON DELETE CASCADE;


--
-- Name: rides rides_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: rides rides_rider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_rider_id_fkey FOREIGN KEY (rider_id) REFERENCES public.users(id);


--
-- Name: rides rides_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id);


--
-- Name: safety_audit_logs safety_audit_logs_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_audit_logs
    ADD CONSTRAINT safety_audit_logs_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: safety_audit_logs safety_audit_logs_triggered_by_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_audit_logs
    ADD CONSTRAINT safety_audit_logs_triggered_by_admin_id_fkey FOREIGN KEY (triggered_by_admin_id) REFERENCES public.users(id);


--
-- Name: safety_audit_logs safety_audit_logs_triggered_by_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_audit_logs
    ADD CONSTRAINT safety_audit_logs_triggered_by_review_id_fkey FOREIGN KEY (triggered_by_review_id) REFERENCES public.ride_reviews(id);


--
-- Name: safety_comments safety_comments_admin_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_comments
    ADD CONSTRAINT safety_comments_admin_reviewed_by_fkey FOREIGN KEY (admin_reviewed_by) REFERENCES public.users(id);


--
-- Name: safety_comments safety_comments_commenter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_comments
    ADD CONSTRAINT safety_comments_commenter_id_fkey FOREIGN KEY (commenter_id) REFERENCES public.users(id);


--
-- Name: safety_comments safety_comments_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.safety_comments
    ADD CONSTRAINT safety_comments_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.ride_reviews(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_ride_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_ride_id_fkey FOREIGN KEY (ride_id) REFERENCES public.rides(id);


--
-- Name: transactions transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.wallets(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_verifications user_verifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_verifications
    ADD CONSTRAINT user_verifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vehicles vehicles_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON DELETE CASCADE;


--
-- Name: wallets wallets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

